swagger: '2.0'
info:
    title: KinoSkoor
    version: 1.0.0
    description: 'Hinda filme, ja pritsi tatti'
paths:
    /films:
        get:
            tags:
                - Films
            responses:
                '200':
                    description: Returns a list of Movies
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            - Terminator 2
                            - Minions
                            - Devil wears a prada
            summary: Get all the <Films> in API
            description: Return all Films that are registered in API
        post:
            tags:
                - Films
            parameters:
                -
                    name: body
                    description: The <Film> that is to be created.
                    schema:
                        $ref: '#/definitions/new-Film'
                    in: body
                    required: true
            responses:
                '201':
                    description: Send 201 when <Film> is successfully added to the database
                    schema:
                        $ref: '#/definitions/new-Film'
                '400':
                    description: 'Missing some parameter, please review your request data.'
                    schema:
                        $ref: '#/definitions/error'
            summary: Create a new <Film> into the app
            description: 'Creates a new <Film> instance with its required details, for further usage.'
    '/films/{FilmID}':
        get:
            tags:
                - Films
            responses:
                '200':
                    description: Returns all details of the given <Film>
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            FilmID: 5c545a29-cec3-11f0-b43f-901b0eec5991
                            Name: TestMovie
                            Description: For testing purposes
                            UserScore: 1
                            RunTime: 1
                            ReleaseYear: 1999
                            Language: Estonglish
                            createdAt: '2025-12-01T16:37:05.000Z'
                            updatedAt: '2025-12-01T16:37:05.000Z'
                '404':
                    description: Returns error when <Film> not found
                    schema:
                        $ref: '#/definitions/error'
            operationId: FilmID
            summary: Get full details of a <Film>
            description: Will return all details of a given <Film> based on FilmID given.
        put:
            tags:
                - Films
            parameters:
                -
                    name: body
                    description: Contains new data to be changed in the specified Film
                    schema:
                        $ref: '#/definitions/new-Film'
                    in: body
                    required: true
            responses:
                '201':
                    description: Returns 201 upon successful modification of Film
                    schema:
                        $ref: '#/definitions/new-Film'
                    examples:
                        application/json:
                            -
                                Name: ''
                                Description: ''
                                RunTime: 32
                                ReleaseYear: 3
                                Language: es
                '400':
                    description: Returns 400 when one or multiple required parameters are missing
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: 'cannot change info, because some parameter missing.'
                '404':
                    description: 'Returns 404 when Film that is to be modified, is not found by the given FilmID'
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: Film not found
        delete:
            tags:
                - Films
            parameters:
                -
                    name: body
                    description: Id of <Film> to be removed from the app
                    schema:
                        $ref: '#/definitions/delete-Film'
                    in: body
                    required: true
            responses:
                '204':
                    description: |
                        Returns "No Content" when removasl of <Film> is successful
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: No Content
                '404':
                    description: 'Returns error, when <Film> with specified ID does not exist'
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: Id not found
            summary: Delete a <Film> from the app
            description: 'Deletes and entry from the app, NEVER TO BE SEEN AGAIN.'
        parameters:
            -
                name: FilmID
                description: ID of Film
                in: path
                required: true
                type: string
    /users:
        get:
            tags:
                - Users
            responses:
                '200':
                    description: Returns a list of existing Users
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            -
                                UserID: ajgfyiwvb
                                DisplayName: wfnvuoebnrg
                                IsAdmin: false
                            -
                                UserID: ajgfyiwvb
                                DisplayName: wfnvuoebnrg
                                IsAdmin: false
                            -
                                UserID: ajgfyiwvb
                                DisplayName: wfnvuoebnrg
                                IsAdmin: false
            summary: 'Returns a list of all users, with limited details'
            description: 'Returns a list of all users, with limited details'
        post:
            tags:
                - Users
            parameters:
                -
                    name: body
                    schema:
                        $ref: '#/definitions/new-User'
                    in: body
                    required: true
            responses:
                '201':
                    description: Send 201 when User is successfully added to the database
                    schema:
                        $ref: '#/definitions/new-User'
                    examples:
                        application/json:
                            -
                                FullName: 2ezrw
                                EmailAddress: 5ys5l6
                                PasswordHASH: ux55
                                DisplayName: lkeb42
                                PhoneNumber2FA: ''
                '400':
                    description: 'Send 400, when request body is missing some parameter.'
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: 'Missing some parameter: ${errors}'
            summary: Adds a new User to the app
            description: 'Enables user signup functions, and further usage.'
    '/users/{UserID}':
        get:
            responses:
                '200':
                    description: Returns all details of the given User
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            UserID: srngvoueirngoi
                            FullName: fname lname
                            EmailAddress: a@b.com
                            PasswordHASH: wurbguiwrbgubwrouigowirng
                            DisplayName: abrakadabra
                            IsAdmin: false
                '404':
                    description: Returns error when User is not found
                    schema:
                        $ref: '#/definitions/error'
                    examples:
                        application/json:
                            -
                                error: user not found
            operationId: UserID
            summary: Get all details of an existing User
            description: 'Will return all details of a given User, based on UserID given'
        parameters:
            -
                name: UserID
                description: ID of User
                in: path
                required: true
                type: string
definitions:
    error:
        title: Root Type for error
        description: ''
        type: object
        properties:
            error:
                type: string
        example:
            error: Error message
    new-Film:
        title: Root Type for new-Film
        description: ''
        required:
            - Description
            - Language
            - Name
            - ReleaseYear
            - RunTime
        type: object
        properties:
            Name:
                type: string
            Description:
                type: string
            RunTime:
                format: int32
                type: integer
            ReleaseYear:
                format: int32
                type: integer
            Language:
                type: string
        example:
            Name: NewMovieName
            Description: NewMovieDescription
            RunTime: 90
            ReleaseYear: 1999
            Language: NewMovieLanguage
    delete-Film:
        title: Root Type for delete-Film
        description: ''
        type: object
        properties:
            FilmID:
                type: string
        example:
            FilmID: 5c545a29-cec3-11f0-b43f-901b0eec5991
    new-User:
        title: Root Type for new-User
        description: 'New user data, PhoneNumber2FA is optional'
        type: object
        properties:
            FullName:
                type: string
            EmailAddress:
                type: string
            PasswordHASH:
                type: string
            DisplayName:
                type: string
            PhoneNumber2FA:
                type: string
        example:
            FullName: MyName LastName
            EmailAddress: a@b.com
            PasswordHASH: abc123
            DisplayName: epicGamer
            PhoneNumber2FA: 12 3456 7890
