swagger: '2.0'
info:
    title: KinoSkoor
    version: 1.0.0
    description: 'Hinda filme, ja pritsi tatti'
paths:
    /films:
        get:
            tags:
                - Films
            responses:
                '200':
                    description: Returns a list of Movies
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            - Terminator 2
                            - Minions
                            - Devil wears a prada
            summary: Get all the <Films> in API
            description: Return all Films that are registered in API
        post:
            tags:
                - Films
            parameters:
                -
                    name: body
                    description: The <Film> that is to be created.
                    schema:
                        $ref: '#/definitions/new-Film'
                    in: body
                    required: true
            responses:
                '201':
                    description: Send 201 when <Film> is successfully added to the database
                    schema:
                        $ref: '#/definitions/new-Film'
                '400':
                    description: 'Missing some parameter, please review your request data.'
                    schema:
                        $ref: '#/definitions/error'
            summary: Create a new <Film> into the app
            description: 'Creates a new <Film> instance with its required details, for further usage.'
    '/films/{FilmID}':
        get:
            tags:
                - Films
            responses:
                '200':
                    description: Returns all details of the given <Film>
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            FilmID: 5c545a29-cec3-11f0-b43f-901b0eec5991
                            Name: TestMovie
                            Description: For testing purposes
                            UserScore: 1
                            RunTime: 1
                            ReleaseYear: 1999
                            Language: Estonglish
                            createdAt: '2025-12-01T16:37:05.000Z'
                            updatedAt: '2025-12-01T16:37:05.000Z'
                '404':
                    description: Returns error when <Film> not found
                    schema:
                        $ref: '#/definitions/error'
            operationId: FilmID
            summary: Get full details of a <Film>
            description: Will return all details of a given <Film> based on FilmID given.
        parameters:
            -
                name: FilmID
                description: ID of Film
                in: path
                required: true
                type: string
definitions:
    error:
        title: Root Type for error
        description: ''
        type: object
        properties:
            error:
                type: string
        example:
            error: Error message
    new-Film:
        title: Root Type for new-Film
        description: ''
        required:
            - Description
            - Language
            - Name
            - ReleaseYear
            - RunTime
        type: object
        properties:
            Name:
                type: string
            Description:
                type: string
            RunTime:
                format: int32
                type: integer
            ReleaseYear:
                format: int32
                type: integer
            Language:
                type: string
        example:
            Name: NewMovieName
            Description: NewMovieDescription
            RunTime: 90
            ReleaseYear: 1999
            Language: NewMovieLanguage
